.list-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.list-product > p {
  font-size: 36px;
  text-align: center;
}
.list-product .box-anh-tieu-de {
  padding-bottom: 66px;
  text-align: center;
}
.list-product .box-anh-tieu-de img:nth-of-type(2) {
  padding-left: 14px;
}
.list-product .box-anh-tieu-de img:nth-of-type(3) {
  padding-left: 14px;
}
.list-product .card-product {
  padding-bottom: 49px;
  overflow: hidden;
}
.list-product .card-product .card-product-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.list-product .card-product .card-product-content .box-anh-p {
  padding: 0;
}
.list-product .card-product .card-product-content .box-anh-p img {
  height: 341px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.list-product .card-product .card-product-content .box-text-p {
  padding-left: 42px;
}
.list-product .card-product .card-product-content .box-text-p p:nth-of-type(1) {
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  position: relative;
  top: -8px;
}
.list-product .card-product .card-product-content .box-text-p p:nth-of-type(2) {
  letter-spacing: 0.5px;
  line-height: 25px;
  font-size: 20px;
  color: #3e3e3e;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6em;
}
.list-product .card-product .card-product-content .box-text-p p:nth-of-type(3) span {
  font-size: 30px;
  font-weight: 600;
  color: #259944;
}
.list-product .card-product .card-product-content .box-text-p p:nth-of-type(3) del {
  padding-left: 12px;
  color: #8b8b8b;
  font-size: 20px;
}
.list-product .card-product .card-product-content .box-btn {
  display: flex;
  justify-content: left;
  align-content: end;
}
.list-product .card-product .card-product-content .box-btn button {
  font-size: 20px;
  padding: 0px 14px;
  height: 41px;
}
.list-product .card-product .card-product-content .box-btn button:nth-of-type(1) {
  background-color: #a2c873;
  color: white;
  border: none;
}
.list-product .card-product .card-product-content .box-btn button:nth-of-type(2) {
  background-color: #f79da7;
  color: white;
  border: none;
  margin-left: 8px;
}
.list-product .card-product .card-product-content .box-line-green {
  width: 100%;
  height: 1px;
  background-color: #a2c873;
  margin-top: 55px;
  margin-bottom: 53px;
}

.box-brand {
  display: flex;
  justify-content: center;
}
.box-brand .list-brand {
  overflow: overlay;
  margin-top: 71px;
}

.list-brand .box-list-brand .box-brand:nth-of-type(2) img {
  padding-left: 18px;
  height: 177px;
}

.list-brand .box-list-brand .box-brand:nth-of-type(3) img {
  padding-left: 18px;
  height: 184px;
}

.list-brand .box-list-brand .box-brand:nth-of-type(4) img {
  padding-left: 18px;
  height: 224px;
}

.list-brand .box-list-brand .box-brand:nth-of-type(5) img {
  padding-left: 18px;
  height: 49px;
}

@media screen and (max-width: 992px) {
  .list-product .card-product .card-product-content .box-text-p {
    padding-left: 0px;
    padding-top: 20px;
  }
}/*# sourceMappingURL=san-pham.css.map */